#header
  #logo_big
    .img
  #title= "< It's about sharing knowledge >"
  #groupe
    .img
    .text= "CodeAngels is a team of professional and experienced web developers who passionate about what they doing, and what to expand the boarders of IT community in Ukraine.We share our knowledges by handlirg meetups and free course for web developers.If you're smart and curious person who loves coding, you should definitely visit our courses and events."
#course
  .line
  .title
    %field= "< Ruby/Ruby on Rails course > "
  .content
    .left
      .text= "You’ll learn everything you need to know about Ruby to be a productive programmer. And it'll take you a step further. You’ll also learn Ruby design principles and techniques to help you become a better all-around Ruby programmer. You’ll learn exactly how all the pieces go together, and you’ll come away with the confidence that you truly understand Ruby. Ruby on Rails is a breakthrough in lowering the barriers of entry to programming. Powerful web applications that formerly might have taken weeks or months to develop can be produced in a matter of days."
      .apply_request
        .apply
          .apply_text= "Apply"
          %a
            =link_to "+"
        .block_left
    .right
      .text
        With the series of lections and practical workshops you will learn how to use such powerful tools as Ruby programming language and Ruby on Rails framework.
        %br
        %br
        The basic topics include:
        %p > Programming with Ruby
        %p > Meta-programming Ruby
        %p > Efficient WEB-applications development based on Ruby on Rails
        %p > Test-driven development practices (TDD, BDD, RSpec)
        %p > Recipes, templates, tools, programming techniques for Ruby/Rails developer
        %p > Work using Extreme Programming practices
        %p > Projects development using Scrum methodology"
        .block_right_top
        .block_right_top_buttom
        .block_right_top_right
 
#course
  .line
  .title
    %field="< JavaScript on Rails course >"
  .content
    .left
      .text= "You’ll learn everything you need to know about JavaScript to be a productive programmer. You'll learn libraries and frameworks that will help you to build web applications quickly and efficiently. You will also know what should be done when things go wrong and you face the problem. It is critical to know how and why everything works.  We'll demonstrate optimal ways to load code onto page, and show some tips that help your JavaScript run as efficiently and quickly as possible. You'll learn the best practices to build and deploy your files to production environment, and how to use tools that can rapidly help you to find out any problems once you put your site on a Web server."
      .apply_request
        .apply_text= "Participation request "
        %table
          %tr
            %td.text_lable Name 
            %td
              %input.field
          %tr
            %td.text_lable Email
            %td
              %input.field
          %tr
            %td
            %td.city
              = radio_button(nil, nil, nil, class: "radio")
              = label_tag 'name', "Kyiv", class: 'label'
              = radio_button(nil, nil, nil, class: "radio" )
              = label_tag 'name', "Dnipropetrovs'k", class: 'label'
          %tr
            %td
            %td
              %button
                Send
        .block_left
        .block_left_buttom
        .block_left_buttom_right
        .block_right_top_olive
        .block_right_top_buttom_olive
    .right
      .text
        With the series of lections and practical workshops you will learn how to use such powerful tools as JavaScript programming language and JS frameworks and tips.
        %br
        %br
        The basic topics include:
        %p > Programming with JavaScript
        %p >  High level JS languages(CoffeeScript,       TypeScript)
        %p > Popular JS frameworks(Backbone.js,        Angular.js, Marionette.js...)
        %p > Testing JS applications(Jasmine, Mocha...)
        %p > Server-side JavaScript(Node.JS, Meteor.JS...)
        %p > Speeding page loading time using various    technics          
        %p > HTML and CSS basics

#course.angels
  .line
  .title
    %field= "< Angels >"
  .content
    %ul.angels
      %li
        .block_angels.daenerys
          .biographya.l
            Daenerys Targaryen is the exiled princess of the Targaryen dynasty. Also called "the Stormborn", she and her brother Viserys were smuggled to Essos during the end of Robert's Rebellion. Viserys marries her to the powerful Dothraki warlord Khal Drogo.
      %li
        .block_angels.daenerys
          .biographya.r
            Daenerys Targaryen is the exiled princess of the Targaryen dynasty. Also called "the Stormborn", she and her brother Viserys were smuggled to Essos during the end of Robert's Rebellion. Viserys marries her to the powerful Dothraki warlord Khal Drogo.
      %li
        .block_angels.jon  
          .biographya.t
            Jon Snow is the bastard son of Ned Stark who joins the Night's Watch. Jon is a talented fighter, but his sense of compassion and justice brings him into conflict with his harsh surroundings. His direwolf is called Ghost due to his albinism.
      %li
        .block_angels.tyrion
          .biographya.l
            Nicknamed "The Imp", Tyrion Lannister is the younger brother of Cersei and Jaime Lannister. He is a dwarf; and his mother died during his birth, for which his father, Tywin Lannister, blames him. While not physically powerful, Tyrion has a cunning mind.
      %li
        .block_angels.tyrion
          .biographya.r
            Nicknamed "The Imp", Tyrion Lannister is the younger brother of Cersei and Jaime Lannister. He is a dwarf; and his mother died during his birth, for which his father, Tywin Lannister, blames him. While not physically powerful, Tyrion has a cunning mind.
      %li
        .block_angels.jon
          .biographya.b
            Jon Snow is the bastard son of Ned Stark who joins the Night's Watch. Jon is a talented fighter, but his sense of compassion and justice brings him into conflict with his harsh surroundings. His direwolf is called Ghost due to his albinism.